@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="/UserUploads/ba3bf61b-093a-423e-863c-84057391d6b1/Ekran görüntüsü 2023-04-11 210251.png" />

