@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Banner Style V1 -->
<section class="home-banner-style1 p0">
    <div class="home-style1">

        <div class="inner-banner-style1 text-center" style="margin:auto;">
                <h6 class="hero-sub-title animate-up-1">THE BEST WAY TO</h6>
                <h2 class="hero-title animate-up-2">Find Your Dream Home</h2>
                <p class="hero-text fz15 animate-up-3">We’ve more than 745,000 apartments, place & plot.</p>
                <div class="advance-search-tab mt70 mt30-md mx-auto animate-up-3">
                    <ul class="nav nav-tabs p-0 m-0" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Buy</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Rent</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Sold</button>
                        </li>
                    </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="advance-content-style1">
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <div class="advance-search-field position-relative text-start">
                                        <form action="#" method="get" class="form-search position-relative" accept-charset="utf-8">
                                            <div class="box-search">
                                                <span class="icon flaticon-home-1"></span>
                                                <input class="form-control bgc-f7 bdrs12" type="text" name="search" placeholder="Enter an address, neighborhood, city, or ZIP code">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <div class="d-flex align-items-center justify-content-start justify-content-md-center mt-3 mt-md-0">
                                        <button class="advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="flaticon-settings"></span> Advanced</button>
                                        <button class="advance-search-icon ud-btn btn-thm ms-4" type="button"><span class="flaticon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="advance-content-style1">
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <div class="advance-search-field position-relative text-start">
                                        <form action="#" method="get" class="form-search position-relative" accept-charset="utf-8">
                                            <div class="box-search">
                                                <span class="icon flaticon-home-1"></span>
                                                <input class="form-control bgc-f7 bdrs12" type="text" name="search" placeholder="Enter an address, neighborhood, city, or ZIP code">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <div class="d-flex align-items-center justify-content-start justify-content-md-center mt-3 mt-md-0">
                                        <button class="advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="flaticon-settings"></span> Advanced</button>
                                        <button class="advance-search-icon ud-btn btn-thm ms-4" type="button"><span class="flaticon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="advance-content-style1">
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <div class="advance-search-field position-relative text-start">
                                        <form action="#" method="get" class="form-search position-relative" accept-charset="utf-8">
                                            <div class="box-search">
                                                <span class="icon flaticon-home-1"></span>
                                                <input class="form-control bgc-f7 bdrs12" type="text" name="search" placeholder="Enter an address, neighborhood, city, or ZIP code">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <div class="d-flex align-items-center justify-content-start justify-content-md-center mt-3 mt-md-0">
                                        <button class="advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="flaticon-settings"></span> Advanced</button>
                                        <button class="advance-search-icon ud-btn btn-thm ms-4" type="button"><span class="flaticon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a href="#explore-property">
            <div class="mouse_scroll animate-up-4">
                <img src="images/about/home-scroll.png" alt="">
            </div>
        </a>
    </div>
</section>