@{
    Layout = "_Layout2";
}
<div class="col-xl-12">
    <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
        <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
                <thead class="t-head">
                    <tr>
                        <th scope="col">Listing title</th>
                        <th scope="col">Date Published</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="t-body">
                    <tr>
                        <th scope="row">
                            <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                <div class="list-thumb">
                                    <img class="w-100" src="images/listings/list-1.jpg" alt="">
                                </div>
                                <div class="list-content py-0 p-0 mt-2 mt-xxl-0 ps-xxl-4">
                                    <div class="h6 list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></div>
                                    <p class="list-text mb-0">California City, CA, USA</p>
                                    <div class="list-price"><a href="">$14,000/<span>mo</span></a></div>
                                </div>
                            </div>
                        </th>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam"><span class="pending-style style1">Pending</span></td>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam">
                            <div class="d-flex">
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pen fa"></span></a>
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-bin"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                <div class="list-thumb">
                                    <img class="w-100" src="images/listings/list-2.jpg" alt="">
                                </div>
                                <div class="list-content py-0 p-0 mt-2 mt-xxl-0 ps-xxl-4">
                                    <div class="h6 list-title"><a href="page-property-single-v1.html">Luxury villa in Rego Park</a></div>
                                    <p class="list-text mb-0">California City, CA, USA</p>
                                    <div class="list-price"><a href="">$14,000/<span>mo</span></a></div>
                                </div>
                            </div>
                        </th>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam"><span class="pending-style style2">Published</span></td>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam">
                            <div class="d-flex">
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pen fa"></span></a>
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-bin"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">
                            <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                <div class="list-thumb">
                                    <img class="w-100" src="images/listings/list-3.jpg" alt="">
                                </div>
                                <div class="list-content py-0 p-0 mt-2 mt-xxl-0 ps-xxl-4">
                                    <div class="h6 list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></div>
                                    <p class="list-text mb-0">California City, CA, USA</p>
                                    <div class="list-price"><a href="">$14,000/<span>mo</span></a></div>
                                </div>
                            </div>
                        </th>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam"><span class="pending-style style3">Processing</span></td>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam">
                            <div class="d-flex">
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pen fa"></span></a>
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-bin"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                <div class="list-thumb">
                                    <img class="w-100" src="images/listings/list-4.jpg" alt="">
                                </div>
                                <div class="list-content py-0 p-0 mt-2 mt-xxl-0 ps-xxl-4">
                                    <div class="h6 list-title"><a href="page-property-single-v1.html">Triple Story House for Rent</a></div>
                                    <p class="list-text mb-0">California City, CA, USA</p>
                                    <div class="list-price"><a href="">$14,000/<span>mo</span></a></div>
                                </div>
                            </div>
                        </th>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam"><span class="pending-style style2">Published</span></td>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam">
                            <div class="d-flex">
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pen fa"></span></a>
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-bin"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                <div class="list-thumb">
                                    <img class="w-100" src="images/listings/list-5.jpg" alt="">
                                </div>
                                <div class="list-content py-0 p-0 mt-2 mt-xxl-0 ps-xxl-4">
                                    <div class="h6 list-title"><a href="page-property-single-v1.html">Northwest Office Space</a></div>
                                    <p class="list-text mb-0">California City, CA, USA</p>
                                    <div class="list-price"><a href="">$14,000/<span>mo</span></a></div>
                                </div>
                            </div>
                        </th>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam"><span class="pending-style style1">Pending</span></td>
                        <td class="vam">December 31, 2022</td>
                        <td class="vam">
                            <div class="d-flex">
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pen fa"></span></a>
                                <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-bin"></span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mbp_pagination text-center mt30">
                <ul class="page_navigation">
                    <li class="page-item">
                        <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                    </li>
                </ul>
                <p class="mt10 pagination_page_count text-center">1 – 20 of 300+ property available</p>
            </div>
        </div>
    </div>
</div>
          
