@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form asp-action="Image" asp-controller="advert" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" />
    <button type="submit"> gönder   </button>
</form>


