    @using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
*@

@if (SignInManager.IsSignedIn(User))
@*@if(true)*@
{
    <header class="header-nav nav-innerpage-style menu-home4 dashboard_header main-menu">
        <!-- Ace Responsive Menu -->
        <nav class="posr">
            <div class="container-fluid pr30 pr15-xs pl30 posr menu_bdrt1">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6 col-lg-auto">
                        <div class="text-center text-lg-start d-flex align-items-center">
                            <div class="dashboard_header_logo position-relative me-2 me-xl-5">
                                <a href="index.html" class="logo"><img src="/images/header-logo2.svg" alt=""></a>
                            </div>
                            <div class="fz20 ms-2 ms-xl-5">
                                <a href="#" class="dashboard_sidebar_toggle_icon text-thm1 vam"><img src="/images/dark-nav-icon.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block col-lg-auto">
                        <!-- Responsive Menu Structure-->
                        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                            <li class="visible_list">
                                <a class="list-item" href="#"><span class="title">Home</span></a>
                                <!-- Level Two-->
                                <ul>
                                    <li><a href="index.html">Home V1</a></li>
                                    <li><a href="index2.html">Home V2</a></li>
                                    <li><a href="index3.html">Home V3</a></li>
                                    <li><a href="index4.html">Home V4</a></li>
                                    <li><a href="index5.html">Home V5</a></li>
                                    <li><a href="index6.html">Home V6</a></li>
                                    <li><a href="index7.html">Home V7</a></li>
                                    <li><a href="index8.html">Home V8</a></li>
                                    <li><a href="index9.html">Home V9</a></li>
                                    <li><a href="index10.html">Home V10</a></li>
                                </ul>
                            </li>
                            <li class="megamenu_style">
                                <a class="list-item" href="#"><span class="title">Listing</span></a>
                                <ul class="row dropdown-megamenu">
                                    <li class="col mega_menu_list">
                                        <h4 class="title">Grid View</h4>
                                        <ul>
                                            <li><a href="page-grid-default-v1.html">Grid Default v1</a></li>
                                            <li><a href="page-grid-default-v2.html">Grid Default v2</a></li>
                                            <li><a href="page-property-3-col.html">Grid Full Width 3 Cols</a></li>
                                            <li><a href="page-property-4-col.html">Grid Full Width 4 Cols</a></li>
                                            <li><a href="page-property-2-col.html">Grid Full Width 2 Cols</a></li>
                                            <li><a href="page-property-1-col-v1.html">Grid Full Width 1 Cols v1</a></li>
                                            <li><a href="page-property-1-col-v2.html">Grid Full Width 1 Cols v2</a></li>
                                            <li><a href="page-property-banner-v1.html">Banner Search v1</a></li>
                                            <li><a href="page-property-banner-v2.html">Banner Search v2</a></li>
                                        </ul>
                                    </li>
                                    <li class="col mega_menu_list">
                                        <h4 class="title">Map Style</h4>
                                        <ul>
                                            <li><a href="page-property-header-map-style.html">Header Map Style</a></li>
                                            <li><a href="page-property-half-map-v1.html">Map V1</a></li>
                                            <li><a href="page-property-half-map-v2.html">Map V2</a></li>
                                            <li><a href="page-property-half-map-v3.html">Map V3</a></li>
                                            <li><a href="page-property-half-map-v4.html">Map V4</a></li>
                                        </ul>
                                    </li>
                                    <li class="col mega_menu_list">
                                        <h4 class="title">List View</h4>
                                        <ul>
                                            <li><a href="page-property-list.html">List v1</a></li>
                                            <li><a href="page-property-list-all.html">List All Style</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="visible_list">
                                <a class="list-item" href="#"><span class="title">Property</span></a>
                                <ul>
                                    <li>
                                        <a href="#"><span class="title">Agents</span></a>
                                        <ul>
                                            <li><a href="page-agents.html">Agents</a></li>
                                            <li><a href="page-agent-single.html">Agent Single</a></li>
                                            <li><a href="page-agency.html">Agency</a></li>
                                            <li><a href="page-agency-single.html">Agency Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="title">Dashboard</span></a>
                                        <ul>
                                            <li><a href="page-dashboard.html">Dashboard</a></li>
                                            <li><a href="page-dashboard-message.html">Message</a></li>
                                            <li><a href="page-dashboard-add-property.html">New Property</a></li>
                                            <li><a href="page-dashboard-properties.html">My Properties</a></li>
                                            <li><a href="page-dashboard-favorites.html">My Favorites</a></li>
                                            <li><a href="page-dashboard-savesearch.html">Saved Search</a></li>
                                            <li><a href="page-dashboard-review.html">Reviews</a></li>
                                            <li><a href="page-dashboard-package.html">My Package</a></li>
                                            <li><a href="page-dashboard-profile.html">My Profile</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="title">Map Style</span></a>
                                        <ul>
                                            <li><a href="page-property-header-map-style.html">Header Map Style</a></li>
                                            <li><a href="page-property-half-map-v1.html">Half Map Style v1</a></li>
                                            <li><a href="page-property-half-map-v2.html">Half Map Style v2</a></li>
                                            <li><a href="page-property-half-map-v3.html">Half Map Style v3</a></li>
                                            <li><a href="page-property-half-map-v4.html">Half Map Style v4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="title">Single Style</span></a>
                                        <ul>
                                            <li><a href="page-property-single-v1.html">Single V1</a></li>
                                            <li><a href="page-property-single-v2.html">Single V2</a></li>
                                            <li><a href="page-property-single-v3.html">Single V3</a></li>
                                            <li><a href="page-property-single-v4.html">Single V4</a></li>
                                            <li><a href="page-property-single-v5.html">Single V5</a></li>
                                            <li><a href="page-property-single-v6.html">Single V6</a></li>
                                            <li><a href="page-property-single-v7.html">Single V7</a></li>
                                            <li><a href="page-property-single-v8.html">Single V8</a></li>
                                            <li><a href="page-property-single-v9.html">Single V9</a></li>
                                            <li><a href="page-property-single-v10.html">Single V10</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="visible_list">
                                <a class="list-item" href="#"><span class="title">Blog</span></a>
                                <ul>
                                    <li><a href="page-blog-v1.html">List V1</a></li>
                                    <li><a href="page-blog-v2.html">List V2</a></li>
                                    <li><a href="page-blog-v3.html">List V3</a></li>
                                    <li><a href="page-blog-single.html">Single</a></li>
                                </ul>
                            </li>
                            <li class="visible_list">
                                <a class="list-item" href="#"><span class="title">Pages</span></a>
                                <ul>
                                    <li><a href="page-about.html">About</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-compare.html">Compare</a></li>
                                    <li><a href="page-pricing.html">Pricing</a></li>
                                    <li><a href="page-faq.html">Faq</a></li>
                                    <li><a href="page-login.html">Login</a></li>
                                    <li><a href="page-register.html">Register</a></li>
                                    <li><a href="page-error.html">404</a></li>
                                    <li><a href="page-invoice.html">Invoices</a></li>
                                    <li><a href="page-ui-element.html">UI Elements</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-auto">
                        <div class="text-center text-lg-end header_right_widgets">
                            <ul class="mb0 d-flex justify-content-center justify-content-sm-end p-0">
                                <li class="d-none d-sm-block"><a class="text-center mr15" href="page-login.html"><span class="flaticon-email"></span></a></li>
                                <li class="d-none d-sm-block"><a class="text-center mr20 notif" href="#"><span class="flaticon-bell"></span></a></li>
                                <li class=" user_setting">
                                    <div class="dropdown">
                                        <a class="btn" href="#" data-bs-toggle="dropdown">
                                            <img src="/images/resource/user.png" alt="user.png">
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="user_setting_content">
                                                <p class="fz15 fw400 ff-heading mb20">MAIN</p>
                                                <a class="dropdown-item" href="page-dashboard.html"><i class="flaticon-discovery mr10"></i>Dashboard</a>
                                                <a class="dropdown-item" href="page-dashboard-message.html"><i class="flaticon-chat-1 mr10"></i>Message</a>
                                                <p class="fz15 fw400 ff-heading mt30">MANAGE LISTINGS</p>
                                                <a class="dropdown-item active" href="page-dashboard-add-property.html"><i class="flaticon-new-tab mr10"></i>Add New Property</a>
                                                <a class="dropdown-item" href="page-dashboard-properties.html"><i class="flaticon-home mr10"></i>My Properties</a>
                                                <a class="dropdown-item" href="page-dashboard-favorites.html"><i class="flaticon-like mr10"></i>My Favorites</a>
                                                <a class="dropdown-item" href="page-dashboard-savesearch.html"><i class="flaticon-search-2 mr10"></i>Saved Search</a>
                                                <a class="dropdown-item" href="page-dashboard-review.html"><i class="flaticon-review mr10"></i>Reviews</a>
                                                <p class="fz15 fw400 ff-heading mt30">MANAGE ACCOUNT</p>
                                                <a class="dropdown-item" href="page-dashboard-package.html"><i class="flaticon-protection mr10"></i>My Package</a>
                                                <a class="dropdown-item" href="page-dashboard-profile.html"><i class="flaticon-user mr10"></i>My Profile</a>
                                                <a class="dropdown-item" href="page-login.html"><i class="flaticon-exit mr10"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
}
else
{
    <div>

        <header  style="background-color:white;" class="header-nav nav-homepage-style at-home3 stricky main-menu">
            <!-- Ace Responsive Menu -->
            <nav class="posr">
                <div class="container posr menu_bdrt1">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="logos mr40 mr10-lg">
                                    <a class="header-logo logo2" href="index.html"><img src="images/header-logo2.svg" alt="Header Logo"></a>
                                    <a class="header-logo logo1" href="index.html"><img src="images/header-logo2.svg" alt="Header Logo"></a>
                                </div>
                                <!-- Responsive Menu Structure-->
                                <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                                    <li class="visible_list">
                                        <a class="list-item" href="#"><span class="title">Home</span></a>
                                        <!-- Level Two-->
                                        <ul>
                                            <li><a href="index.html">Home V1</a></li>
                                            <li><a href="index2.html">Home V2</a></li>
                                            <li><a href="index3.html">Home V3</a></li>
                                            <li><a href="index4.html">Home V4</a></li>
                                            <li><a href="index5.html">Home V5</a></li>
                                            <li><a href="index6.html">Home V6</a></li>
                                            <li><a href="index7.html">Home V7</a></li>
                                            <li><a href="index8.html">Home V8</a></li>
                                            <li><a href="index9.html">Home V9</a></li>
                                            <li><a href="index10.html">Home V10</a></li>
                                        </ul>
                                    </li>
                                    <li class="megamenu_style">
                                        <a class="list-item" href="#"><span class="title">Listing</span></a>
                                        <ul class="row dropdown-megamenu">
                                            <li class="col mega_menu_list">
                                                <h4 class="title">Grid View</h4>
                                                <ul>
                                                    <li><a href="page-grid-default-v1.html">Grid Default v1</a></li>
                                                    <li><a href="page-grid-default-v2.html">Grid Default v2</a></li>
                                                    <li><a href="page-property-3-col.html">Grid Full Width 3 Cols</a></li>
                                                    <li><a href="page-property-4-col.html">Grid Full Width 4 Cols</a></li>
                                                    <li><a href="page-property-2-col.html">Grid Full Width 2 Cols</a></li>
                                                    <li><a href="page-property-1-col-v1.html">Grid Full Width 1 Cols v1</a></li>
                                                    <li><a href="page-property-1-col-v2.html">Grid Full Width 1 Cols v2</a></li>
                                                    <li><a href="page-property-banner-v1.html">Banner Search v1</a></li>
                                                    <li><a href="page-property-banner-v2.html">Banner Search v2</a></li>
                                                </ul>
                                            </li>
                                            <li class="col mega_menu_list">
                                                <h4 class="title">Map Style</h4>
                                                <ul>
                                                    <li><a href="page-property-header-map-style.html">Header Map Style</a></li>
                                                    <li><a href="page-property-half-map-v1.html">Map V1</a></li>
                                                    <li><a href="page-property-half-map-v2.html">Map V2</a></li>
                                                    <li><a href="page-property-half-map-v3.html">Map V3</a></li>
                                                    <li><a href="page-property-half-map-v4.html">Map V4</a></li>
                                                </ul>
                                            </li>
                                            <li class="col mega_menu_list">
                                                <h4 class="title">List View</h4>
                                                <ul>
                                                    <li><a href="page-property-list.html">List v1</a></li>
                                                    <li><a href="page-property-list-all.html">List All Style</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="#"><span class="title">Property</span></a>
                                        <ul>
                                            <li>
                                                <a href="#"><span class="title">Agents</span></a>
                                                <ul>
                                                    <li><a href="page-agents.html">Agents</a></li>
                                                    <li><a href="page-agent-single.html">Agent Single</a></li>
                                                    <li><a href="page-agency.html">Agency</a></li>
                                                    <li><a href="page-agency-single.html">Agency Single</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><span class="title">Dashboard</span></a>
                                                <ul>
                                                    <li><a href="page-dashboard.html">Dashboard</a></li>
                                                    <li><a href="page-dashboard-message.html">Message</a></li>
                                                    <li><a href="page-dashboard-add-property.html">New Property</a></li>
                                                    <li><a href="page-dashboard-properties.html">My Properties</a></li>
                                                    <li><a href="page-dashboard-favorites.html">My Favorites</a></li>
                                                    <li><a href="page-dashboard-savesearch.html">Saved Search</a></li>
                                                    <li><a href="page-dashboard-review.html">Reviews</a></li>
                                                    <li><a href="page-dashboard-package.html">My Package</a></li>
                                                    <li><a href="page-dashboard-profile.html">My Profile</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><span class="title">Map Style</span></a>
                                                <ul>
                                                    <li><a href="page-property-header-map-style.html">Header Map Style</a></li>
                                                    <li><a href="page-property-half-map-v1.html">Half Map Style v1</a></li>
                                                    <li><a href="page-property-half-map-v2.html">Half Map Style v2</a></li>
                                                    <li><a href="page-property-half-map-v3.html">Half Map Style v3</a></li>
                                                    <li><a href="page-property-half-map-v4.html">Half Map Style v4</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><span class="title">Single Style</span></a>
                                                <ul>
                                                    <li><a href="page-property-single-v1.html">Single V1</a></li>
                                                    <li><a href="page-property-single-v2.html">Single V2</a></li>
                                                    <li><a href="page-property-single-v3.html">Single V3</a></li>
                                                    <li><a href="page-property-single-v4.html">Single V4</a></li>
                                                    <li><a href="page-property-single-v5.html">Single V5</a></li>
                                                    <li><a href="page-property-single-v6.html">Single V6</a></li>
                                                    <li><a href="page-property-single-v7.html">Single V7</a></li>
                                                    <li><a href="page-property-single-v8.html">Single V8</a></li>
                                                    <li><a href="page-property-single-v9.html">Single V9</a></li>
                                                    <li><a href="page-property-single-v10.html">Single V10</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="#"><span class="title">Blog</span></a>
                                        <ul>
                                            <li><a href="page-blog-v1.html">List V1</a></li>
                                            <li><a href="page-blog-v2.html">List V2</a></li>
                                            <li><a href="page-blog-v3.html">List V3</a></li>
                                            <li><a href="page-blog-single.html">Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="#"><span class="title">Pages</span></a>
                                        <ul>
                                            <li><a href="page-about.html">About</a></li>
                                            <li><a href="page-contact.html">Contact</a></li>
                                            <li><a href="page-compare.html">Compare</a></li>
                                            <li><a href="page-pricing.html">Pricing</a></li>
                                            <li><a href="page-faq.html">Faq</a></li>
                                            <li><a href="page-login.html">Login</a></li>
                                            <li><a href="page-register.html">Register</a></li>
                                            <li><a href="page-error.html">404</a></li>
                                            <li><a href="page-invoice.html">Invoices</a></li>
                                            <li><a href="page-ui-element.html">UI Elements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <a class="login-info d-flex align-items-center" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a>
                                <a class="ud-btn btn-dark mx-2 mx-xl-4" href="page-dashboard-add-property.html">Add Property<i class="fal fa-arrow-right-long"></i></a>
                                <a class="sidemenu-btn filter-btn-right" href="#"><img src="images/icon/nav-icon-dark.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Signup Modal -->
        <div class="signup-modal">
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Welcome to Realton</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="log-reg-form">
                                <div class="navtab-style2">
                                    <nav>
                                        <div class="nav nav-tabs mb20" id="nav-tab" role="tablist">
                                            <button class="nav-link active fw600" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sign In</button>
                                            <button class="nav-link fw600" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Account</button>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent2">
                                        <div class="tab-pane fade show active fz15" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="form-style1">
                                                <div class="mb25">
                                                    <label class="form-label fw600 dark-color">Email</label>
                                                    <input type="email" class="form-control" placeholder="Enter Email">
                                                </div>
                                                <div class="mb15">
                                                    <label class="form-label fw600 dark-color">Password</label>
                                                    <input type="text" class="form-control" placeholder="Enter Password">
                                                </div>
                                                <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                                                    <label class="custom_checkbox fz14 ff-heading">
                                                        Remember me
                                                        <input type="checkbox" checked="checked">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <a class="fz14 ff-heading" href="#">Lost your password?</a>
                                                </div>
                                                <div class="d-grid mb20">
                                                    <button class="ud-btn btn-thm" type="button">Sign in <i class="fal fa-arrow-right-long"></i></button>
                                                </div>
                                                <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                                                <div class="d-grid mb10">
                                                    <button class="ud-btn btn-white" type="button"><i class="fab fa-google"></i> Continue Google</button>
                                                </div>
                                                <div class="d-grid mb10">
                                                    <button class="ud-btn btn-fb" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                                                </div>
                                                <div class="d-grid mb20">
                                                    <button class="ud-btn btn-apple" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                                                </div>
                                                <p class="dark-color text-center mb0 mt10">Not signed up? <a class="dark-color fw600" href="page-register.html">Create an account.</a></p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade fz15" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="form-style1">
                                                <div class="mb25">
                                                    <label class="form-label fw600 dark-color">Email</label>
                                                    <input type="email" class="form-control" placeholder="Enter Email">
                                                </div>
                                                <div class="mb20">
                                                    <label class="form-label fw600 dark-color">Password</label>
                                                    <input type="text" class="form-control" placeholder="Enter Password">
                                                </div>
                                                <div class="d-grid mb20">
                                                    <button class="ud-btn btn-thm" type="button">Create account <i class="fal fa-arrow-right-long"></i></button>
                                                </div>
                                                <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                                                <div class="d-grid mb10">
                                                    <button class="ud-btn btn-white" type="button"><i class="fab fa-google"></i> Continue Google</button>
                                                </div>
                                                <div class="d-grid mb10">
                                                    <button class="ud-btn btn-fb" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                                                </div>
                                                <div class="d-grid mb20">
                                                    <button class="ud-btn btn-apple" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                                                </div>
                                                <p class="dark-color text-center mb0 mt10">Not signed up? <a class="dark-color fw600" href="page-register.html">Create an account.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu In Hiddn SideBar -->
        <div class="rightside-hidden-bar">
            <div class="hsidebar-header">
                <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
                <h4 class="title">Welcome to Realton</h4>
            </div>
            <div class="hsidebar-content">
                <div class="hiddenbar_navbar_content">
                    <div class="hiddenbar_navbar_menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Apartments</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Bungalow</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Houses</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Loft</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Office</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Townhome</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Villa</a></li>
                        </ul>
                    </div>
                    <div class="hiddenbar_footer position-relative bdrt1">
                        <div class="row pt45 pb30 pl30">
                            <div class="col-auto">
                                <div class="contact-info">
                                    <p class="info-title dark-color">Total Free Customer Care</p>
                                    <h6 class="info-phone dark-color"><a href="+(0)-123-050-945-02">+(0) 123 050 945 02</a></h6>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="contact-info">
                                    <p class="info-title dark-color">Nee Live Support?</p>
                                    <h6 class="info-mail dark-color"><a href="mailto:hi@homez.com">hi@homez.com</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row pt30 pb30 bdrt1">
                            <div class="col-auto">
                                <div class="social-style-sidebar d-flex align-items-center pl30">
                                    <h6 class="me-4 mb-0">Follow us</h6>
                                    <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Menu In Hiddn SideBar -->
        <!-- Advance Feature Modal Start -->
        <div class="advance-feature-modal">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header pl30 pr30">
                            <h5 class="modal-title" id="exampleModalLabel">More Filter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Price Range</h6>
                                        <!-- Range Slider Mobile Version -->
                                        <div class="range-slider-style modal-version">
                                            <div class="range-wrapper">
                                                <div class="mb30 mt35" id="slider"></div>
                                                <div class="d-flex align-items-center">
                                                    <span id="slider-range-value1"></span><i class="fa-sharp fa-solid fa-minus mx-2 dark-color icon"></i>
                                                    <span id="slider-range-value2"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Type</h6>
                                        <div class="form-style2 input-group">
                                            <select class="selectpicker" data-live-search="true" data-width="100%">
                                                <option>Property</option>
                                                <option data-tokens="Apartments">Apartments</option>
                                                <option data-tokens="Bungalow">Bungalow</option>
                                                <option data-tokens="Houses">Houses</option>
                                                <option data-tokens="Loft">Loft</option>
                                                <option data-tokens="Office">Office</option>
                                                <option data-tokens="Townhome">Townhome</option>
                                                <option data-tokens="Villa">Villa</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Property ID</h6>
                                        <div class="form-style2">
                                            <input type="text" class="form-control" placeholder="RT04949213">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Bedrooms</h6>
                                        <div class="d-flex">
                                            <div class="selection">
                                                <input id="xany" name="xbeds" type="radio" checked>
                                                <label for="xany">any</label>
                                            </div>
                                            <div class="selection">
                                                <input id="xoneplus" name="xbeds" type="radio">
                                                <label for="xoneplus">1+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="xtwoplus" name="xbeds" type="radio">
                                                <label for="xtwoplus">2+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="xthreeplus" name="xbeds" type="radio">
                                                <label for="xthreeplus">3+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="xfourplus" name="xbeds" type="radio">
                                                <label for="xfourplus">4+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="xfiveplus" name="xbeds" type="radio">
                                                <label for="xfiveplus">5+</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Bathrooms</h6>
                                        <div class="d-flex">
                                            <div class="selection">
                                                <input id="yany" name="ybath" type="radio" checked>
                                                <label for="yany">any</label>
                                            </div>
                                            <div class="selection">
                                                <input id="yoneplus" name="ybath" type="radio">
                                                <label for="yoneplus">1+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="ytwoplus" name="ybath" type="radio">
                                                <label for="ytwoplus">2+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="ythreeplus" name="ybath" type="radio">
                                                <label for="ythreeplus">3+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="yfourplus" name="ybath" type="radio">
                                                <label for="yfourplus">4+</label>
                                            </div>
                                            <div class="selection">
                                                <input id="yfiveplus" name="ybath" type="radio">
                                                <label for="yfiveplus">5+</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Location</h6>
                                        <div class="form-style2 input-group">
                                            <select class="selectpicker" data-live-search="true" data-width="100%">
                                                <option>All Cities</option>
                                                <option data-tokens="California">California</option>
                                                <option data-tokens="Chicago">Chicago</option>
                                                <option data-tokens="LosAngeles">Los Angeles</option>
                                                <option data-tokens="Manhattan">Manhattan</option>
                                                <option data-tokens="NewJersey">New Jersey</option>
                                                <option data-tokens="NewYork">New York</option>
                                                <option data-tokens="SanDiego">San Diego</option>
                                                <option data-tokens="SanFrancisco">San Francisco</option>
                                                <option data-tokens="Texas">Texas</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="widget-wrapper">
                                        <h6 class="list-title">Square Feet</h6>
                                        <div class="space-area">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="form-style1">
                                                    <input type="text" class="form-control" placeholder="Min.">
                                                </div>
                                                <span class="dark-color">-</span>
                                                <div class="form-style1">
                                                    <input type="text" class="form-control" placeholder="Max">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="widget-wrapper mb0">
                                        <h6 class="list-title mb10">Amenities</h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget-wrapper mb20">
                                        <div class="checkbox-style1">
                                            <label class="custom_checkbox">
                                                Attic
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Basketball court
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Air Conditioning
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Lawn
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget-wrapper mb20">
                                        <div class="checkbox-style1">
                                            <label class="custom_checkbox">
                                                TV Cable
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Dryer
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Outdoor Shower
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Washer
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget-wrapper mb20">
                                        <div class="checkbox-style1">
                                            <label class="custom_checkbox">
                                                Lake view
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Wine cellar
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Front yard
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="custom_checkbox">
                                                Refrigerator
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reset all filters</u></a>
                            <div class="btn-area">
                                <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Advance Feature Modal End -->

        <div class="hiddenbar-body-ovelay"></div>

    </div>
}
